
div.productos {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 1%;
  background-color: #EAECEE;
  flex-wrap: wrap;


}

form.carrito-form {
  margin: 0;
  width: 100%;
  padding: 1%;
  background-color: black;

}

form.carrito-form.ul {
  width: 100%;
}

div.carrito-total {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 259px;
  height: 195px;

  }

div.cardp a {
  transition:0.2s background-color;
}

@media (min-width:768px) {
  div.cardp {
    width: 49%;
}
}

@media (min-width:1440px ) {
  div.cardp {
    width: 25%;

  }

}
