
div.productos {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 1%;
  background-color: #EAECEE;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 20px auto 50px;
}
.productos h2 {
  color: #000;
  padding: 30px 0;
}

div.cardp {
  margin: 0;
  width: 100%;
  padding: 1%;
  background-color: black !important;

}
button.btn.btn-dark.active {
   margin-top: 50%;
}

small.text-muted {
    font-size: 150%;
    font-weight: 1000;
    color: black;
      font-family: 'Fjalla One', sans-serif;
}

form.carrito-form.ul {
  width: 100%;
}

div.total-carrito {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 100%;
  height: auto;

  }

div.cardp a {
  transition:0.2s background-color;
}

img.card-img {
  width: 30%;
  height: 30%;
}

@media (min-width:768px) {
  div.cardp {
    width: 49%;
}
}

@media (min-width:1440px ) {
  div.cardp {
    width: 25%;

  }

}
@media (min-width:425px ) {
  button.btn.btn-dark.active {
      margin-top: 0;
  }

  }
  @media (min-width:375px ) {
    button.btn.btn-dark.active {
        margin-top: 0;
    }

    }
    @media (min-width:320px ) {
      button.btn.btn-dark.active {
          margin-top: 0;
      }

      }

/* Agregar producto */
.card {
  margin: 20px auto;
}
/* celu*/
